extends layout

block content
  .ui.container
      .ui.message
        .header= 'Credits'
        p This tool wouldn't be possible without the gracious work of several people.
        ul.list
          li
            | The icons for the gifts were designed by 
            a(href='http://www.freepik.com/') Freepik
            |  from 
            a(href='http://www.flaticon.com/') Flaticon
            | .
          li
            | The icons for social and other ones across the site were designed by 
            a(href='http://fontawesome.io/') Font Awesome.
          li
            | The uber lightweight 
            a(href='https://muicss.com/') MUI CSS
            |  for the app bar.
          li
            | The community at 
            a(href='http://semantic-ui.com') Semantic UI
            |  for a wonderfully simply UI framework.
          li
            | Folks at 
            a(href='https://www.mongodb.com/') Mongo DB
            |  for a DB that is trivial to use and 
            a(href='https://mlab.com/') mLab
            |  for hosting data for free!
          li
            | The community that produced 
            a(href='https://nodejs.org/en/') Node JS.
          li= 'The gods that had the foresight and prowess to conceive of C and *nix, on which the world is built.'
          li
            a(href='https://github.com/torvalds') Linus Torvalds
            |  for 
            a(href='https://git-scm.com/') git
            | , 
            a(href='https://www.kernel.org/') linux
            | , and most of all for the inspiration.'
          li
            | A special thank you to 
            a(href='http://tinaferan.com') Christina Ferancik
            |  for all the support.
