extends layout

block content
  .ui.equal.width.grid
    .centered.row
      .ui.huge.header
        = title
    if (!wishlists)
      .centered.row
      | No wishlists.
    .ui.centered.row.cards
      each list, index in wishlists
        .ui.card
          a(href=baseurl+'list/'+list._id).image
            img(src=baseurl+'images/profile-pics/'+list.user.toLowerCase()+'.jpg')
          .content
            a(href=baseurl+'list/'+list._id).header= list.name
            .meta= list.items.length+' items'
