extends layout

block content

  .menu
    h2 Menu
    ul.nav.nav-pills
      li.active
        a(href='/') Home

  h1= title

  .list
    if (wishlists.length === 0)
      | No wishlists.
    ul
      each list, index in wishlists
        .item
          li
            a(href='/'+list._id)= list.name
