doctype html
html
  head
    title= title + ' | '  + appname
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='/semantic/dist/semantic.min.css')
  body
  .container
    .ui.sticky.menu
      .ui.item
        a(href='/')
          img(src='/images/app_icon.png')
      .ui.right.dropdown.item
        i.content.icon
        .menu
          .item
            a(href='/credits')= 'Credits'

    block content

  script(src='/javascripts/jquery.js', type="text/javascript")
  script(src='/javascripts/main.js', type="text/javascript")
  script(src='/semantic/dist/semantic.min.js', type="text/javascript")
